* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  background-color: #1da8bb;
}
.main {
  height: 50vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.slider {
  width: 80%;
  height: 420px;
  overflow: hidden;
  border-radius: 2rem;
}
.slides {
  transform: translateX(0px);
  transition: transform 1.5s ease-in;
  width: 400%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.slide {
  width: 100%;
  height: 420px;
  display: inline-block;
  background-size: cover;
  background-position: center;
}
.slides,
#sl1 {
  background-image: url("./assets/mems/jonas-stolle-6rhdGmD6wfw-unsplash.jpg");
}
.slides,
#sl2 {
  background-image: url("./assets/mems/justin-lim-tloFnD-7EpI-unsplash.jpg");
}
.slides,
#sl3 {
  background-image: url("./assets/mems/mo-jiaming-JXQDFY_W2OM-unsplash.jpg");
}
.slides,
#sl4 {
  background-image: url("./assets/mems/valeria-voevodina-nWQ0fPpLFOo-unsplash.jpg");
}
.footer {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row-reverse;

}
.pagination {
  width: 40%;
  height: 10vh;
  border: 2px solid black;
  border-radius: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}
.pagin-btn {
  cursor: pointer;
  width: 10%;
  height: 50%;
  border-radius: 50%;
  border: 1px solid black;
  transition: 0.5s ease;
}
.pagin-btn:hover {
  background: #000;
}
.pagin-btn-active {
  background: #fff;
}
.description {
  width: max-content;
}
.description-text {
    font-size: 3.2rem;
}
